
*.mdb
*.log
*.backup
*.bakert
*.mdb
*.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Temp/UnityLockfile
NGUIProj/Temp/UnityTempFile-0f77f4e521fcba84fbc823c8fc650518
NGUIProj/Temp/UnityTempFile-6fda67b1b4b7e094daf12e897bacd0f2
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Library/assetDatabase3
*.ide
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/metadata/b2/b26787eb36edc18419523a9c717e4b47.info
NGUIProj/Library/metadata/b2/b26787eb36edc18419523a9c717e4b47
NGUIProj/Library/expandedItems
NGUIProj/Library/LastSceneManagerSetup.txt
NGUIProj/Library/metadata/05/053c394d74167414db12e430ceaba422
NGUIProj/Library/metadata/05/053c394d74167414db12e430ceaba422.info
NGUIProj/Library/metadata/33/337e117283052d64d87f1f24b07f6bb0
NGUIProj/Library/metadata/33/337e117283052d64d87f1f24b07f6bb0.info
NGUIProj/Library/metadata/45/453aacf6267e73748b38e2d4d5df2e75.info
NGUIProj/Library/metadata/5f/5f1526679bd6bcc40a9af96512148659
NGUIProj/Library/metadata/5f/5f1526679bd6bcc40a9af96512148659.info
NGUIProj/Library/metadata/60/6009ee7093201bf47a00cd49463a7258
NGUIProj/Library/metadata/67/67a5b92c7b469e242900a9512a6400f4
NGUIProj/Library/metadata/67/67a5b92c7b469e242900a9512a6400f4.info
NGUIProj/Library/metadata/74/749457299c0a1dd43a44a650c3da1fe9.info
NGUIProj/Library/metadata/74/749457299c0a1dd43a44a650c3da1fe9
NGUIProj/TestData
NGUIProj/Library/metadata/8d/8dc60a24a2f07df4da71788846a1966e
NGUIProj/Library/metadata/8d/8dc60a24a2f07df4da71788846a1966e.info
NGUIProj/Library/metadata/98/98af6f1e6a856424382abad85621d364.info
NGUIProj/Library/metadata/c4/c45bde2293900f84da4df5a230d9168e
NGUIProj/Library/metadata/c4/c45bde2293900f84da4df5a230d9168e.info
NGUIProj/Library/metadata/da/dac65d63930e3ba41a5806ebcc3a9acf.info
NGUIProj/Library/metadata/fe/fe9548c7318cf01489bdc98249d09aa1
NGUIProj/Library/metadata/fe/fe9548c7318cf01489bdc98249d09aa1.info
