
*.mdb
*.log
*.backup
*.bakert
*.mdb
*.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Temp/UnityLockfile
NGUIProj/Temp/UnityTempFile-0f77f4e521fcba84fbc823c8fc650518
NGUIProj/Temp/UnityTempFile-6fda67b1b4b7e094daf12e897bacd0f2
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Library/assetDatabase3
NGUIProj/Library/metadata/52/529dbf0a9f0589b439b2410edeb3a863
NGUIProj/Library/metadata/e4/e4a4e53d2f391de498ea64af7d7901c3
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/shadercompiler-UnityShaderCompiler.exe0.log
NGUIProj/Library/assetDatabase3
*.ide
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
NGUIProj/Library/metadata/b2/b26787eb36edc18419523a9c717e4b47.info
NGUIProj/Library/metadata/b2/b26787eb36edc18419523a9c717e4b47
NGUIProj/Library/expandedItems
NGUIProj/Library/LastSceneManagerSetup.txt
NGUIProj/Library/metadata/05/053c394d74167414db12e430ceaba422
NGUIProj/Library/metadata/05/053c394d74167414db12e430ceaba422.info
NGUIProj/Library/metadata/33/337e117283052d64d87f1f24b07f6bb0
NGUIProj/Library/metadata/33/337e117283052d64d87f1f24b07f6bb0.info
NGUIProj/Library/metadata/45/453aacf6267e73748b38e2d4d5df2e75.info
NGUIProj/Library/metadata/5f/5f1526679bd6bcc40a9af96512148659
NGUIProj/Library/metadata/5f/5f1526679bd6bcc40a9af96512148659.info
NGUIProj/Library/metadata/60/6009ee7093201bf47a00cd49463a7258
NGUIProj/Library/metadata/67/67a5b92c7b469e242900a9512a6400f4
NGUIProj/Library/metadata/67/67a5b92c7b469e242900a9512a6400f4.info
NGUIProj/Library/metadata/74/749457299c0a1dd43a44a650c3da1fe9.info
NGUIProj/Library/metadata/74/749457299c0a1dd43a44a650c3da1fe9
NGUIProj/TestData
NGUIProj/Library/metadata/8d/8dc60a24a2f07df4da71788846a1966e
NGUIProj/Library/metadata/8d/8dc60a24a2f07df4da71788846a1966e.info
NGUIProj/Library/metadata/98/98af6f1e6a856424382abad85621d364.info
NGUIProj/Library/metadata/c4/c45bde2293900f84da4df5a230d9168e
NGUIProj/Library/metadata/c4/c45bde2293900f84da4df5a230d9168e.info
NGUIProj/Library/metadata/da/dac65d63930e3ba41a5806ebcc3a9acf.info
NGUIProj/Library/metadata/fe/fe9548c7318cf01489bdc98249d09aa1
NGUIProj/Library/metadata/fe/fe9548c7318cf01489bdc98249d09aa1.info
NGUIProj/Library/metadata/81/81e00f19ac82397458f301fe5d226e0d
NGUIProj/Library/metadata/81/81e00f19ac82397458f301fe5d226e0d.info
NGUIProj/Library/metadata/9e/9e33572218757fa40b99e3e56d79b6ce
NGUIProj/Library/metadata/9e/9e33572218757fa40b99e3e56d79b6ce.info
NGUIProj/Temp/UnityTempFile-07a16448426c9a34ebe3d82b490aef76
NGUIProj/Temp/UnityTempFile-1fbdf5e1ab1d57742af974dbe2a81a0b
NGUIProj/Temp/UnityTempFile-204217d4747c5b64a91281672ccc2966
NGUIProj/Temp/UnityTempFile-38193c9338927b243a7583cb7b62611f
NGUIProj/Temp/UnityTempFile-39ac01ea45cb7b549ac77db6b7619fbd
NGUIProj/Temp/UnityTempFile-507d221c2fc5c394184361c576e366a1
NGUIProj/Temp/UnityTempFile-540a97f03e61bd443a302b10d8fa46bf
NGUIProj/Temp/UnityTempFile-88a9b4b37af6f8c41b1bd905344c19c7
NGUIProj/Temp/UnityTempFile-89acf9a4df2fd2f429e5d2f0b728fcd1
NGUIProj/Temp/UnityTempFile-8c0d9f376de565d4ea0492459f738f7e
NGUIProj/Temp/UnityTempFile-945fb24069aeaf84fbe7b71ac0262d1a
NGUIProj/Temp/UnityTempFile-9de1e49e3e4b408479cbcd2be2c1797d
NGUIProj/Temp/UnityTempFile-a578d1bf2c5304247905e62c802b7b46
NGUIProj/Temp/UnityTempFile-a6ad42add6eef5649a4d2cf51302961f
NGUIProj/Temp/UnityTempFile-c458e734d6209f8478a279238f1e456b
NGUIProj/Temp/UnityTempFile-f0f456944278a194ba88827d3cfc048f
NGUIProj/Temp/UnityVS_bin/Debug/Assembly-CSharp.dll
NGUIProj/Temp/UnityVS_bin/Debug/Assembly-CSharp.pdb
NGUIProj/Temp/UnityVS_bin/Debug/CString.dll
NGUIProj/Temp/UnityVS_bin/Debug/Debugger.dll
NGUIProj/Temp/UnityVS_bin/Debug/Google.Protobuf.dll
NGUIProj/Temp/UnityVS_bin/Debug/ICSharpCode.NRefactory.dll
NGUIProj/Temp/UnityVS_bin/Debug/Mono.Cecil.dll
NGUIProj/Temp/UnityVS_bin/Debug/Mono.Cecil.Mdb.dll
NGUIProj/Temp/UnityVS_bin/Debug/Mono.Cecil.Pdb.dll
NGUIProj/Temp/UnityVS_bin/Debug/Newtonsoft.Json.dll
NGUIProj/Temp/UnityVS_bin/Debug/nunit.framework.dll
NGUIProj/Temp/UnityVS_bin/Debug/nunit.framework.xml
NGUIProj/Temp/UnityVS_bin/Debug/protobuf-net.dll
NGUIProj/Temp/UnityVS_bin/Debug/SimpleJson.dll
NGUIProj/Temp/UnityVS_bin/Debug/Thrift.dll
NGUIProj/Temp/UnityVS_bin/Debug/Unity.CecilTools.dll
NGUIProj/Temp/UnityVS_bin/Debug/Unity.DataContract.dll
NGUIProj/Temp/UnityVS_bin/Debug/Unity.SerializationLogic.dll
NGUIProj/Temp/UnityVS_bin/Debug/Unity.UNetWeaver.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEditor.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Common.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Xcode.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEditor.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.Networking.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.TestRunner.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.TestRunner.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.UI.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.VR.dll
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.VR.xml
NGUIProj/Temp/UnityVS_bin/Debug/UnityEngine.xml
NGUIProj/Temp/UnityVS_obj/Debug/Assembly-CSharp.dll
NGUIProj/Temp/UnityVS_obj/Debug/Assembly-CSharp.pdb
NGUIProj/Temp/UnityVS_obj/Debug/NGUIProj.csproj.CopyComplete
NGUIProj/Temp/UnityVS_obj/Debug/NGUIProj.csproj.CoreCompileInputs.cache
NGUIProj/Temp/UnityVS_obj/Debug/NGUIProj.csproj.FileListAbsolute.txt
NGUIProj/Temp/UnityVS_obj/Debug/NGUIProj.csprojAssemblyReference.cache
NGUIProj/Library/metadata/73/7372f09b7ae698a439cece657d2ce83d
NGUIProj/Library/metadata/73/7372f09b7ae698a439cece657d2ce83d.info
NGUIProj/Library/metadata/95/958d0d0fe159f64428c5fb0f6a9cafb5
NGUIProj/Library/metadata/95/958d0d0fe159f64428c5fb0f6a9cafb5.info
NGUIProj/Library/metadata/96/9621a0179b692cd46b020b1de545ebed
NGUIProj/Library/metadata/a3/a30af1c441006c845b9501ba7018b090.info
NGUIProj/Library/metadata/a7/a7cbd6d536cf8764a9146aaf030c83cc
NGUIProj/Library/metadata/a7/a7cbd6d536cf8764a9146aaf030c83cc.info
NGUIProj/Library/metadata/b0/b03a06836a0ea4e4397a952c80f95bac
NGUIProj/Library/metadata/d6/d6d5d47b89ca8ba45a755f3b2f65ec16
NGUIProj/Library/metadata/d6/d6d5d47b89ca8ba45a755f3b2f65ec16.info
NGUIProj/Library/metadata/e9/e9d0b5f3bbe925a408bd595c79d0bf63
NGUIProj/Library/metadata/ea/ead2d83f530263041bd63060059d4408
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll
NGUIProj/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
